@font-face{
    font-family: "Castoro";
    src: url(../fonts/Castoro/Castoro-Regular.ttf) format("opentype");
}

@font-face{
    font-family: "NotoSansTC";
    src: url(../fonts/NotoSansTC/NotoSansTC-Regular.otf) format("opentype");
}

@font-face{
    font-family: "ArchitectsDaughter";
    src: url(../fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.otf) format("opentype");
}